.cover__link {
  width: 100%;
  color: #fff;
  text-decoration: none;
  display: flex;
  background-size: cover;
  transition: background 0.2s;
  z-index: 1;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
