.footer__link {
  margin-right: 18px;
}

.footer__link a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin-bottom: 32px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }
}
