.lead__title {
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 473px;
    font-size: 70px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    max-width: 473px;
    font-size: 58px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 0 16px 0;
  }
}
