.intro {
  margin: 92px 0 0;
  width: 984px;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 928px;
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin: 64px 16px 0;
  }
}
